.container
  %h1 
    Welcome
  .jumbotron
    %h2.subtext
      Hello, World!
    This example is a quick start template based on:
    %ul
      %li
        %a{href: 'http://www.sinatrarb.com/'} Sinatra Framework
      %li
        %a{href: 'http://haml.info/'} Haml
      %li
        %a{href: 'http://getbootstrap.com/'} (Twitter) Bootstrap
      %li
        %a{href: 'http://unicorn.bogomips.org/'} Unicorn (Rack HTTP server)
    And many others just great work!
  .highlight
    You can download me here:
    %a{href: 'https://github.com/finger-berlin/example-sinatra-twitter-bootstrap-app'}
      %pre
        https://github.com/finger-berlin/example-sinatra-twitter-bootstrap-app
